@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../sourcesans/sourcesanspro-semibold-webfont.eot');
    src: url('../sourcesans/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../sourcesans/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('../sourcesans/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('../sourcesans/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('../sourcesans/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_prolight';
    src: url('../sourcesanslight/sourcesanspro-light-webfont.eot');
    src: url('../sourcesanslight/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../sourcesanslight/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../sourcesanslight/sourcesanspro-light-webfont.woff') format('woff'),
         url('../sourcesanslight/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../sourcesanslight/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_proregular';
    src: url('../sourcesansregular/sourcesanspro-regular-webfont.eot');
    src: url('../sourcesansregular/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../sourcesansregular/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../sourcesansregular/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../sourcesansregular/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../sourcesansregular/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#logo_top
{
	margin-top: 10px;
	min-width: 300px;
	width: 500px;
	margin-bottom: 10px;
}

#head_amour
{
	background: url('https://s3.amazonaws.com/heroku-adfinitas-campaign/npfs+30+ans/header.jpg') top center scroll no-repeat;
	background-size: cover;
}

body section
{
	font-family: 'source_sans_prosemibold', Arial, serif;
	color: rgb(35, 87, 147);
	font-weight: bold;
	font-size: 20px;
	background-color: rgb(230, 230, 230);
}

body section .text-center
{
	margin-top: 20px;
}

#middle
{
	background-color: white;
}

#middle p
{
	font-size: 22px;
}

#bouton_don
{
	margin-bottom: 20px;
}

footer
{
	background-color: rgb(34, 86, 146);
	color: white;
	font-family: 'source_sans_proregular', Arial, serif;
	font-size: 10px;
}